@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: black ;
    padding: 10px;
}

header {
    background-color:  rgba(0, 255, 0, 0.279);
    border-radius: 6px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
}

#image-profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#principal {
    border-radius: 6px;
    height: 800px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color: #1f363623;
    border-radius: 6px;
    height: 100%;
    width: 74%;
}

aside {
    background-color: rgba(153, 51, 153, 0.331);
    border-radius: 6px;
    height: 100%;
    width: 25%;
}

footer {
    background-color: rgb(237, 97, 97);
    border-radius: 6px;
    height: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center; /* vertical*/
    align-items: center; /* horizontal */
}

footer p {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 500;
}